# Rename this file to .env
ADMIN_USER=admin
ADMIN_PASSWORD=secret
OAUTH2_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxx
OAUTH2_CLIENT_ID=yyyyyyyyyyyyyyyyyyyyyyyy
OAUTH2_USERNAME_FIELD=email
CORS_ORIGIN=http://localhost:3000
