# Rename this file to .env
ADMIN_USER=admin
ADMIN_PASSWORD=secret
# SESSION_SECRET: "1234567890"
# JWT_SECRET: "1234567890"
# OAUTH2_CLIENT_ID: 1234567890
# OAUTH2_AUTHORIZE_URL: "https://iam.unipi.it/oauth2/authorize"
# OAUTH2_TOKEN_URL: "https://iam.unipi.it/oauth2/token"
# OAUTH2_USERINFO_URL: "https://iam.unipi.it/oauth2/userinfo"
# OAUTH2_LOGOUT_URL: "https://iam.unipi.it/oidc/logout"
# OAUTH2_CLIENT_SECRET: "1234567890"
# OAUTH2_USERNAME_FIELD: "email"
