.styled-table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1rem;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #003c71;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-family: "Titillium Web";
    font-size: 0.9rem;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #003c71;
}

.event-box {
    width: 300px;
    height: 170px;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        padding: 1.5rem;
        height: 240px;
    }
    @media (min-width: 1383px) {
        padding: 2rem;
        height: 270px;
    }
}

.grant-box {
    width: 300px;
    height: 150px;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        padding: 1.5rem;
        height: 220px;
    }
    @media (min-width: 1383px) {
        padding: 2rem;
        height: 250px;
    }
}

.filter-link {
    background-color: #00000000 !important;
    font-size: 1rem;
    border-radius: 0;
    padding: 3px 15px;
    margin: 0px 5px;

    @media (min-width: 1383px) {
        font-size: 1.125rem;
    }
}

.filter-link.active,
.filter-link:hover {
    color: #ffffff !important;
    background-color: #003c71 !important;
    border-radius: 0;
    padding: 3px 15px;
    margin: 0px 5px;
}

.title_style {
    font-size: 0.875rem;
    color: #003c71;
    margin: 0px;
    font-weight: bold;
    text-decoration: none !important;

    @media (min-width: 768px) {
        font-size: 1.25rem;
    }
}

.title_style:hover {
    color: #003C7187 !important;
}

.subtitle_style {
    display: block;
    font-size: 0.75rem;
    color: #003c71 !important;
    margin: 2px 0px;
    padding: 4px 0px;

    @media (min-width: 768px) {
        font-size: 0.875rem;
    }
}

.subtitle_style.far.fa-calendar,
.subtitle_style.fas.fa-map-marker-alt,
.subtitle_style.fa.fa-tags,
.subtitle_style.fa.fa-link {
    color: #003c71 !important;
    font-family: "Titillium Web";
    font-weight: normal;
}

.subtitle_style.far.fa-calendar::before,
.subtitle_style.fas.fa-map-marker-alt::before,
.subtitle_style.fa.fa-tags::before,
.subtitle_style.fa.fa-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}

.excerpt_style {
    color: #000000;
    font-size: 1rem;
    overflow: hidden;

    @media (max-width: 768px) {
        font-size: 0.875rem;
    }
    @media (max-width: 440px) {
        display: none;
    }
}

.load-button {
    font-size: 0.75rem !important;
    background-color: #003c71 !important;
    padding: 8px 20px !important;
    margin: 10px 0px;
    border: none;

    @media (min-width: 768px) {
        font-size: 0.875rem !important;
    }
}

.load-button:focus {
    outline: none;
    box-shadow: none;
}

.load-button:hover {
    background-color: #003C7187 !important;
    border: none;
}