.filter-link {
    background-color: #00000000 !important;
    font-size: 1rem;
    border-radius: 0;
    padding: 3px 15px 3px 15px;
    margin: 0px 5px 0px 5px; 
    
    @media (min-width: 768px) {
        font-size: 1rem;
    }
    @media (min-width: 1383px) {
        font-size: 1.125rem;
    }
}

.filter-link.active {
    color: #ffffff !important;
    background-color: #003c71 !important;
    border-radius: 0;
    padding: 3px 15px 3px 15px;
    margin: 0px 5px 0px 5px;
}

.filter-link:hover {
    color: #ffffff !important;
    background-color: #003c71 !important;
    border-radius: 0;
    padding: 3px 15px 3px 15px;
    margin: 0px 5px 0px 5px;
}

.date_style {
    font-size: 0.75rem;
    color: #003c71 !important;
    margin: 2px 0px 2px 0px;

        
    @media (min-width: 768px) {
        font-size: 0.875rem;
    }
    @media (min-width: 1383px) {
        font-size: 0.875rem;
    }
}
.date_style.far.fa-calendar {
    color: #003c71 !important;
    font-family: "Titillium Web";
}
.date_style.far.fa-calendar::before {
    font-family: 'Font Awesome 5 Free';
}

.title_style {
    font-size: 1rem;
    color: #003c71;
    margin: 0px 0px 0px 0px; 
    font-weight: bold;
    text-decoration: none !important;

    @media (min-width: 768px) {
        font-size: 1.25rem;
    }
    @media (min-width: 1383px) {
        font-size: 1.25rem;
    }
}

.title_style:hover {
    color: #003C7187 !important;
}

.excerpt_style {
    color: #000000;
    font-size: 0.75rem;
    overflow: hidden;

    @media (min-width: 768px) {
        font-size: 0.875rem;
    }
    @media (min-width: 1383px) {
        font-size: 1rem;
    }
}

.load-button {
    font-size: 0.75rem !important;
    padding: 8px 20px 8px 20px !important;
    margin: 10px 0px 0px 0px; 

    @media (min-width: 768px) {
        font-size: 0.875rem !important;
    }
    @media (min-width: 1383px) {
        font-size: 0.875rem !important;
    }
}

.event-box {
    width: 300px;
    height: 270px;
    overflow: hidden;
    padding: 2rem;
    margin-bottom: 1rem;
}