.header {
  text-align: center;
}

.react-datepicker-popper {
  z-index: 2 !important;
}

a {
  text-decoration: none;
}

/* Main container max-width */
.main-container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Model Table */
.model-table {
  user-select: none;
}

/* Model Table Links  */
.model-table>tbody>tr {
  cursor: pointer;
}
